@import "ui-mixins";
@import "ui-variables";

.key-binding {
  color: @text-color-subtle;
  background: transparent;
  box-shadow: inset 0 0 0 1px rgba(255, 255, 255, .1);

  display: inline-block;
  border-radius: @component-border-radius;
  margin-left: @component-icon-padding;
  font-size: @font-size;
  line-height: 100%;
  font-family: Helvetica, Arial, sans-serif;
  letter-spacing: 1px;
  padding: @component-padding / 2;
  text-shadow: none !important;
}

.badge {
  .text(highlight);
  background: @background-color-highlight;
}
